<section class="section contacts" id="contacts">
  <div class="container contact-container">
    <div class="contact-header">
      <h3 class="contact-header-text">Connect</h3>
      <h2 class="contact-header-title">Order your unique jewelry</h2>
      <p class="contact-header-description">
        We'd love to hear more details from you!
      </p>
    </div>
    <div class="contacts-container-wrapper">
      <address class="contact-info">
        <ul class="contact-info-list">
          <li class="contact-info-item">
            <svg class="contact-item-icon" width="32" height="32">
              <use href="./img/svg/sprite.svg#icon-email" />
            </svg>
            <p class="contact-item-text">Email</p>
            <a
              target="_blank"
              rel="noopener noreferer"
              class="contact-item-link"
              href="mailto:info@handmadejewelry.com"
            >info@handmadejewelry.com</a
            >
          </li>
          <li class="contact-info-item">
            <svg class="contact-item-icon" width="32" height="32">
              <use href="./img/svg/sprite.svg#icon-phone" />
            </svg>
            <p class="contact-item-text">Phone</p>
            <a rel="noopener noreferer" target="_blank" class="contact-item-link" href="tel:+15550000000"
            >+1 (555) 000-0000</a
            >
          </li>
          <li class="contact-info-item">
            <svg class="contact-item-icon" width="32" height="32">
              <use href="./img/svg/sprite.svg#icon-geolocation" />
            </svg>
            <p class="contact-item-text">Office</p>
            <a target="_blank" rel="noopener noreferer" class="contact-item-link"
               href="https://share.google/bh4f6CdYnyyHFJWtM"
            >76-8 Oakington Manor Dr, London, UK</a
            >
          </li>
        </ul>
      </address>
      <form class="contact-form">
        <div class="name-input-wrapper flex column">
          <label for="name" class="contact-form-label"> Name* </label>
          <input
            class="contact-form-item user-name-input"
            type="text"
            id="name"
            name="user-name"
            placeholder="Tony"
            required
            pattern="^[a-zA-Z\s\.]{5,28}$"
          />
          <p class="text-valid">Succes!</p>
          <p class="text-invalid">Invalid name, try again</p>
        </div>
        <div class="phone-input-wrapper flex column">
          <label for="phone" class="contact-form-label">Phone*</label>
          <input
            type="tel"
            name="user-phone"
            id="phone"
            placeholder="+1 234 123 23"
            class="contact-form-item user-phone-input"
            required
            pattern="^\+[0-9\s]{14}$"
          />
          <p class="text-valid">Succes!</p>
          <p class="text-invalid">Invalid phone number, try again</p>
        </div>
        <label for="textarea" class="contact-form-label"
        >Describe what you want</label
        >
        <textarea
          class="contact-form-item form-textarea"
          name="textarea"
          id="textarea"

          maxlength="500"
          placeholder="Type your message..."
        ></textarea>
        <button class="form-submit-button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>