<footer class="footer-page">
    <div class="footer-container">
        <div class="footer-content-wrapper">
            <div class="footer-brand">
                <a href="./index.html" class="footer-logo-link">
                    <!--        <img class="footer-logo" src="/img/svg/logo.svg" alt="logo" width="217" height="93">-->
                    <svg class="footer-logo" width="217" height="93">
                        <use href="./img/svg/symbol-defs.svg#logo"></use>
                    </svg>
                </a>
                <ul class="footer-social-list">
                    <li class="social-item"><a target="_blank" href="https://www.facebook.com/" rel="noopener noreferer" aria-label="Facebook">
                        <svg class="social-icon" width="44" height="44">
                            <use href="./img/svg/sprite.svg#icon-Facebook-Icon"></use>
                        </svg>
                    </a></li>
                    <li class="social-item"><a target="_blank" href="https://www.instagram.com/" rel="noopener noreferer" aria-label="Instagram">
                        <svg class="social-icon" width="44" height="44">
                            <use href="./img/svg/sprite.svg#icon-Instagram-Icon"></use>
                        </svg>
                    </a></li>
                    <li class="social-item"><a target="_blank" href="https://x.com/" rel="noopener noreferer" aria-label="X">
                        <svg class="social-icon" width="44" height="44">
                            <use href="./img/svg/sprite.svg#icon-X-Icon"></use>
                        </svg>
                    </a></li>
                    <li class="social-item"><a target="_blank" href="https://www.linkedin.com/" rel="noopener noreferer" aria-label="Linkedin">
                        <svg class="social-icon" width="44" height="44">
                            <use href="./img/svg/sprite.svg#icon-Linkedin-Icon"></use>
                        </svg>
                    </a></li>
                    <li class="social-item"><a target="_blank" href="https://www.youtube.com/" rel="noopener noreferer" aria-label="Youtube">
                        <svg class="social-icon" width="44" height="44">
                            <use href="/img/svg/sprite.svg#icon-Youtube-Icon"></use>
                        </svg>
                    </a></li>
                </ul>
            </div>

            <nav class="footer-nav">
                <ul class="footer-nav-list">
                    <li><a class="footer-nav-link" href="#about-us">About us</a></li>
                    <li><a class="footer-nav-link" href="#benefits">Benefits</a></li>
                    <li><a class="footer-nav-link" href="#gallery">Gallery</a></li>
                    <li><a class="footer-nav-link" href="#testimonials">Testimonials</a></li>
                    <li><a class="footer-nav-link" href="#contacts">Contacts</a></li>
                </ul>
            </nav>
        </div>

        <div class="footer-bottom">
            <div class="footer-line"></div>
            <p class="credits-text">© 2025 Handmade Jewelry. All rights reserved.</p>
        </div>
    </div>
</footer>