<section class="section gallery">
    <div class="container section-content">
              <h1 class="gallery-title">Jewelry Showcase</h1>  
                <p class="gallery-description">Discover the beauty of our handcrafted jewelry in style.</p>
                <ul class="gallery-items">
                   <li class="gallery-item">
                        <picture>
                            <source
                            media="(max-width: 768px)"
                            srcset="./img/gallery/mobile/gallery-1-mobile@1x.jpg 1x, ./img/gallery/mobile/gallery-1-mobile@2x.jpg 2x"
                            >
                        </picture>
                   </li>
                   <li class="gallery-item">
                        <img src="./img/gallery/mobile/gallery-1-mobile@1x.jpg" alt="">
                   </li>
                   <li class="gallery-item">
                        <img src="./assets/img/g-3.png" alt="">
                   </li>
                   <li class="gallery-item">
                        <img src="./assets/img/g-4.png" alt="">
                   </li>
                </ul>
        </div>
</section>