<header class="header">
  <div class="container header-container">
    <a href="#" class="logo-link">
      <svg class="LogoSvg">
        <use href="./img/svg/symbol-defs.svg#logo"></use>
      </svg>
    </a>

    <button type="button" class="burger-btn" id="menuToggle">
      <svg class="MenuSvg">
        <use href="./img/svg/symbol-defs.svg#burger-menu"></use>
      </svg>
    </button>

    <nav class="DesktopNav">
      <a href="#about-us">About us</a>
      <a href="#benefits">Benefits</a>
      <a href="#gallery">Gallery</a>
      <a href="#testimonials">Testimonials</a>
      <a href="#contacts">Contacts</a>
    </nav>

    <a href="#order" class="OrderBtn">Order Now</a>
  </div>
</header>