<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo-link">
      <svg class="LogoSvg">
        <use href="./img/svg/symbol-defs.svg#logo"></use>
      </svg>
    </a>

    <button type="button" class="burger-btn" id="menuToggle">
      <svg class="MenuSvg">
        <use href="./img/svg/symbol-defs.svg#burger-menu"></use>
      </svg>
    </button>

    <nav>
      <ul class="DesktopNav">
          <li><a href="#about-us">About us</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li> <a href="#gallery">Gallery</a></li>
          <li> <a href="#testimonials">Testimonials</a></li>
          <li> <a href="#contacts">Contacts</a></li>
      </ul>
    </nav>

    <a href="#contacts" class="OrderBtn">Order Now</a>
  </div>
</header>