<div class="modal is-open">
  <div class="modal-menu-container">

    <svg class="logo-icon" width="149" height="47">
      <use href="./img/svg/logo.svg"></use>
    </svg>


    <button class="modal-close-button" type="button">
      <svg class="svg modal-close-icon" width="12" height="12">
        <use href="./img/svg/menu-close.svg"></use>
      </svg>
    </button>


    <nav class="modal-nav">
      <ul class="modal-list">
        <li class="modal-list-item">
          <a class="modal-item-link" href="#about-us">About us</a>
        </li>
        <li class="modal-list-item">
          <a class="modal-item-link" href="#benefits">Benefits</a>
        </li>
        <li class="modal-list-item">
          <a class="modal-item-link" href="#gallery">Gallery</a>
        </li>
        <li class="modal-list-item">
          <a class="modal-item-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="modal-list-item">
          <a class="modal-item-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <a class="order-now" href="#contacts">Order Now</a>
  </div>
</div>
