<div class="modal is-open">
  <div class="modal-menu-container">
    <!-- Логотип -->
    <svg class="LogoSvg" width="149" height="47">
      <use href="./img/svg/logo.svg"></use>
    </svg>

    <!-- Кнопка закриття -->
    <button class="modal-menu-button" type="button">
      <svg class="svg" width="12" height="12">
        <use href="./img/svg/menu-close.svg"></use>
      </svg>
    </button>

    <!-- Навігація -->
    <nav class="modal-nav">
      <ul class="modal-list">
        <li class="modal-item">
          <a class="modal-link" href="./index.html">About us</a>
        </li>

        <li class="modal-item">
          <a class="modal-link" href="./index.html">Benefits</a>
        </li>

        <li class="modal-item">
          <a class="modal-link" href="#gallery">Gallery</a>
        </li>

        <li class="modal-item">
          <a class="modal-link" href="./index.html">Testimonials</a>
        </li>

        <li class="modal-item">
          <a class="modal-link" href="./index.html">Contacts</a>
        </li>
      </ul>
    </nav>
    <!-- Кнопка замовлення-->
    <button class="order-now" type="button">Order Now</button>
  </div>
</div>
