.about-us {
    background-color: #ffffff;
    padding-block: 56px;
}
.about-us-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.about-us-img{
    width: 100%;
    max-width: 335px;
    height: auto;
    margin-bottom: 32px;
    object-fit: cover;
}
.about-us-title{
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 24px;
}
.about-us-text{
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 24px;
}
.about-us-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    list-style: none;
}
.about-us-list-item{
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    /*width: 335px;*/
    width: 100%;
    min-height: 27px;
}

.about-us-list-item:nth-child(1)::before{
    content: "";
    display: inline-block;
    background: url("../img/svg/1.svg") no-repeat center;
    width: 24px;
    height: 24px;
    margin-right: 3px;
}

.about-us-list-item:nth-child(2)::before{
    content: "";
    display: inline-block;
    background: url("../img/svg/2.svg") no-repeat center;
    width: 24px;
    height: 24px;
    margin-right: 3px;
}

.about-us-list-item:nth-child(3)::before{
    content: "";
    display: inline-block;
    background: url("../img/svg/3.svg") no-repeat center;
    width: 24px;
    height: 24px;
    margin-right: 3px;
}

@media screen and (min-width: 768px) {
    .about-us{
        padding-block: 112px;
    }
    .about-us-container{

    }
    .about-us-img {
        display: block;
        width: 100%;
        max-width: 768px;
        /*max-width: 704px;*/
        height: auto;
        margin-bottom: 32px;
        /*width: 704px;*/
        /*height: 456px;*/
        object-fit: cover;
    }
    .about-us-list{
        width: 100%;
    }
}
@media screen and (min-width: 1440px) {
    .about-us-container{
        max-width: 1440px;
        flex-direction: row;
        align-items: center;

    }
    .about-us-img {
        width: 640px;
        height: 456px;
        flex-shrink: 0;
        margin-bottom: 0;
        padding-right: 32px;
    }
    .about-us-content {
        width: auto;
        flex: 1;
    }
    .about-us-list{
        width: 100%;
    }
    .about-us-title {
        font-size: 48px;
    }
}
