.gallery-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.gallery-description {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 40px;
}



/*.gallery-items {*/
/*  display: flex;*/
/*  gap: 32px;*/
/*  flex-direction: column;*/
/*  flex-wrap: wrap;*/
/*  height: 1098px;*/
/*}*/

/*.gallery-item {*/
/*  background-color: orange;*/
/*  width: calc((100% - 32px) / 2);*/
/*  height: 426px;*/
/*}*/

/*.gallery-item img {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/


.gallery-item:first-child, .gallery-item:last-child {
  height: 640px;
}